    {{log 'loggedin' loggedin}}
<section class="card">
    <header>{{title}}</header></a>
    <p>Posted by {{user.name}} on {{format_date created_date}}</p>
  <p class="card-body">{{body}}</p>
</section>