<section class="card">
    <header><a class="navitem" href="/comment/{{id}}">{{title}}</a></header>
    <p>Posted by {{user.name}} on {{format_date created_date}}</p>
  <p class="card-body">{{body}}</p>
      {{#each comments as |comment|}}
        <section class="card">
        <div class="card-header bg-transparent border-success">Commented by {{this.user.name}}</div>
        <p class="card-body">{{content}}</p>
        </section>
    {{/each}}
</section>