<section class="card mt-2 mb-3 text-center border">
  <header class="d-flex justify-content-between ">
    <a class="navitem" href="/comment/{{id}}">{{title}}</a> Posted by {{user.name}} on {{format_date created_date}}
  </header>
<div class="card-group">
  <p class="card-body">{{body}}</p> 
    {{#each comments as |comment|}}
    <div class="card m-2 border border-light">
      <div class="card-header bg-transparent border-light">Commented by {{this.user.name}}</div>
      <p class="card-text">{{content}}</p></div>
  {{/each}}
  </div>
</section>

