{{#each posts as |post|}}
<section class="card">
  <a href="/post/{{id}}">
    <header>{{post.title}}</header></a>
    <p>Posted by {{user.name}} on {{format_date post.created_date}}</p>
  <p class="card-body">{{post.body}}</p>
</section>
{{/each}}