<div class="text-center">
  <h2>{{title}}</h2>
  <p>Created by {{user.name}} on {{format_date created_date}}</p>
  <p><span>{{body}}</span></p>
  <div class="comment-list mx-auto border border-secondary ">
    {{#each comments as |comment|}}
      <section class="card mt-3">
        <div class="card-header bg-transparent border">Commented by {{user.name}} {{user.id}}</div>
        <p class="card-body">{{content}}
          {{#if (isEqual ../sesUId user_id)}}
            <div><button class="btn btn-sm btn-danger" data-delid="{{this.id}}">DELETE</button></div>
            <div><button class="btn btn-sm" data-editid="{{this.id}}">update</button></div>
        </p>
        {{/if}}
      </section>
    {{/each}}
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-6">
    <h3>New Comment:</h3>
    <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment-body">Comment:</label>
        <textarea class="form-control form-input" id="comment-content" name="comment-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Comment</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/comment.js"></script>
