<div class="text-center">
  <h2>{{title}}</h2>
  <p>Created by {{user.name}} on {{format_date created_date}}</p>
  <p>
    <span>{{body}}</span>
  </p>
    {{#each comments as |comment|}}
      <section class="card">
      <p>Commented by {{this.user.name}}</p>
      <p class="card-body">{{content}}</p>
      </section>
    {{/each}}
  <p>
    <button class="btn btn-primary">Comment</button>
  </p>
</div>
